@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}

.navbar {
  border-top: 1px solid rgba(220,220,220,0.5);
}

.nav-link {
  color: black !important;
  padding: 0px 20px !important;
}

.navbar-toggler-icon {
  background-color: orange;
}

#toptop {
  background-color: orange;
}

.container-fluid {
  padding:0 !important;
}

.soc-counter {
  position: relative;
  padding: 90px 0px 85px 0px;
  background-repeat: no repeat !important;
  background-size: cover !important;
  overflow: hidden;
  color: white;
}

#conflex {
  display: flex;
  justify-content: space-around;
}

.soc-counter:before {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: rgba(6, 13, 33, 0.8);
  color: white;
}

#conflex .item {
  position: relative;
  z-index: 1;
}

.carousel-caption {
position: absolute;
    right: 15%;
    top: 120px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

.carousel-title {
  /* background-color: royalblue; */
  background-color: rgb(207, 118, 15);
  opacity: 0.88 !important;
  padding: 5px 10px;
  font-size: 4rem;
}

.carousel-below-title {
  background-color: orange;
  background-color: royalblue;
  opacity: 0.88 !important;
  padding-top: 5px !important;
  padding-right: 30px !important;
  padding-bottom: 5px !important;
  padding-left: 30px !important;
  font-size: 40px;
}

.carousel-below-title {
  font-size: 2.5rem;
}

#cust {
  background: url("../assets/roof3.jpg");
}

/* 
.overlay-box {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding-top: 33%;
  border-radius: 5px;
  transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transition: all 500ms ease;
}

.img-holder {
  position: relative;
}

.overlay-box a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
} */

#ours {
  background-image: url("../assets/hat.jpg");
  background-position: center center;
  background-attachment: fixed;
  padding: 50px 0px;
  background-size: cover;
}

.counter {
  font-size: 2rem;
}

/* carousel customer */

.custt {
  color: white;
}

.MultiCarousel { 
  float: left; 
  overflow: hidden; 
  padding: 15px; 
  width: 100%; 
  position:relative; 
}

.MultiCarousel .MultiCarousel-inner { 
  transition: 1s ease all; float: left; 
}

.MultiCarousel .MultiCarousel-inner .item {
   float: left;
  }

.MultiCarousel .MultiCarousel-inner .item > div { 
  text-align: center; 
  padding:10px; 
  margin:10px; 
  background:#f1f1f1; 
  color:#666;
  background: url("../assets/head.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.MultiCarousel .leftLst, .MultiCarousel .rightLst { 
  position:absolute; border-radius:50%;top:calc(50% - 20px); 
}
    
.MultiCarousel .leftLst { 
  left:0; 
}
    
.MultiCarousel .rightLst { 
  right:0; 
}
    
.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { 
  pointer-events: none; background:#ccc; 
}

@media (min-width: 2560px) {
  /* #weird {
    margin-top: 120px !important; */
}


@media only screen and (max-width: 600px) {
  #logo {
    width: 120px !important;
    height: 40px !important;
    margin:0 !important;
  }
  .carousel-title {
    font-size: 2.5rem;
  }
  .carousel-inner {
    height: 200px !important;
  }
  .carousel-caption {
    top: 80px !important;
  }
  #weird {
    /* padding-top: 350px !important; */
  }
}

@media only screen and (max-width: 426px) {
  #weird {
    /* margin-top: 300px !important; */
}
}

@media only screen and (max-width: 376px) {
  #weird {
    /* margin-top: 180px !important; */
}
}

@media only screen and (max-width: 321px) {
  #weird {
    /* margin-top: 80px !important; */
}
}